<BackupConfig AccessKey="" SecretKey="" Bucket="" KeyPrefix="">
  <Databases>
    <Database Server="." Name="" KeyPrefix="" Lifetime=""/>
  </Databases>
  <Directories>
    <Directory Path="" KeyPrefix="" />
    <Directory Path="" KeyPrefix="" Lifetime="5"/>
  </Directories>
</BackupConfig>
